.row
  .col.s12.m7
    .card
      .card-image
        %img{:src => "sea12.jpg"}/
      .card-content
        %span タイトル
        %p
          = article.content
      .card-action
        - if user_signed_in? && current_user.id == article.user_id
          %a(href="/articles/#{article.id}/edit") 編集
          = link_to "削除", "/articles/#{article.id}", method: :delete

    
          
                