.row
  .col.s12.m7
    .card
      .card-image
        %img{:src => "sea12.jpg"}/
      .card-content
        %span タイトル
        %p 本文を書いて下さい本文を書いて下さい本文を書いて下さい本文を書いて下さい本文を書いて下さい本文を書いて下さい
      .card-action
        %a{:href => "#"} リンク
