%nav
  .nav-wrapper
    %a.brand-logo{:href => "#"} 稲川のブログ
    %ul#nav-mobile.right.hide-on-med-and-down
      - if user_signed_in?
        %li
          %a(href="")  ログアウト
        %li
          %a(href="/articles/new") 新規投稿
      - else
        %li
          %a{:href => "/users/sign_in"} サインイン
        %li
          %a(href="/users/sign_up")新規登録  
